<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movie Playlist Manager</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
  </head>
  <body>
    <div class="ui menu">
      <div class="ui container">
        <div class="header item">
          Movies
        </div>
        <a class="item" href="/movies">
          Home
        </a>
        <a class="item" href="/movies/new">
          Add
        </a>
      </div>
    </div>
    <div class="ui container">
      <% Object.keys(messages).forEach(function (type) { %>
        <% messages[type].forEach(function (message) { %>
          <div class= "ui <%= type %> message" role="alert">
            <%= message %>
          </div>
        <% }) %>
      <% }) %>
    </div>
